:root {
  --primary-hue: 10.73deg;
  --primary-saturation: 88.2%;
  --primary-lightness: 50%;
}

.dark {
  --primary-hue: 10.73deg;
  --primary-saturation: 88.2%;
  --primary-lightness: 50%;
}

/* Custom logo styling */
.mtrace-logo-inline {
  color: #bf2c0c !important;
}

.mtrace-logo-inline svg {
  height: 5em !important;
  width: 4em !important;
  display: block;
}